nav{
position: fixed;
bottom: 0;
left: 0;
background-color: #EBFFA9;
width: 100%;
padding: 1em;
z-index: 1;
}
.navegacion{
display: flex;
justify-content: space-between;
}

.icono-gym{
  width: 50px;
  height: auto;
  transition: transform 0.30s ease,filter 0.30s ease;
}
.icono-gym:active{
transform: scale(1.2);
}

.texto{
  font-size:0.6em;
}

@media (max-width: 768px) {
.icono-gym{
  width: 30px !important;
}
}

@media (min-width: 768px) {
.icono-gym{
  width: 25px !important;
}
}